/* --- Block About --- */

.block-about {
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;

	&__bg {
		height: 100%;
		width: 95%;
		position: absolute;
		right: 0;
		z-index: -10;
		background-color: $color-cuper;
	}

	&__content {
		width: 50%;
		min-width: 16.5rem;
		align-self: center;
		margin-right: -10%;
		margin-top: 5rem;

		&__txt {
			@include paragraph20;
			color: $color-white;
			margin-bottom: 2rem;
		}
		&__btn {
			@include highlight32;
			color: $color-cream;
		}
	}

	&__img {
		width: 85%;
		max-width: 730px;
		height: 400px;
		margin-left: -5vw;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 20% 0;
		}
	}
}

/* --- Block Responsibility --- */

.block-respons {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;

	&__bg {
		height: calc(100% - 75px);
		max-width: 720px;
		width: 80%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -10;
		background-color: $color-gray;
	}

	&__content {
		align-self: center;
		width: 50%;
		min-width: 17.75rem;
		padding: 0 35px;
		margin-bottom: 50px;

		&__txt {
			@include paragraph20;
			color: $color-white;
			text-align: right;
			margin-bottom: 2rem;
		}
		&__btn {
			@include highlight32;
			color: $color-cuper;
			float: right;
		}
	}

	&__img1 {
		width: 80vw;
		height: 50vw;
		max-width: 510px;
		max-height: 645px;
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
		align-self: flex-end;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 100% 0;
		}
	}

	&__img2 {
		width: 66vw;
		height: 66vw;
		max-width: 444px;
		max-height: 444px;
		position: relative;
		left: 0;
		bottom: 0;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 100% 0;
		}
	}
}

/* --- Block Products --- */

.block-products {
	margin-top: -3.5rem;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;

	&__bg {
		height: 80%;
		width: 80%;
		background-color: $color-cream;
		position: absolute;
		z-index: -10;
	}

	&__content {
		margin: 100px 30px 50px 30px;
		position: relative;

		&__ttl {
			@include highlight32;
			color: $color-cuper;
			text-align: right;
			line-height: 40px;
		}
		&__btn {
			@include highlight20;
			color: $color-gray;
			float: right;
		}
	}
}

//Block Product Blog Page

.blog {
	.block-products {
		&__content {
			margin-top: 3.5rem;
		}
	}
}

/* --- Block Contact --- */

.block-contact {
	position: relative;
	padding-bottom: 50px;
	width: 90%;
	max-width: 900px;
	margin: auto;

	&__bg {
		height: 100%;
		background-color: $color-cuper;
		position: absolute;
		z-index: -10;
		left: 0;
		right: 0;
	}

	&__content {
		width: 60%;
		padding-top: 50px;
		margin: auto;
		@include landscape {
			align-items: center;
		}

		&__txt {
			@include paragraph20;
			color: $color-white;
			text-align: right;
			margin-bottom: 50px;
		}

		&__contacts {
			margin: 0 auto 50px auto;
			p {
				@include paragraph13;
				color: $color-white;
			}
			.msn-icons {
				color: $color-cream;
				margin: 12px 0;
				i {
					font-size: 24px;
					margin-right: 5px;
				}
			}
		}
	}

	.insta-container {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;
		max-width: 40rem;
		margin-left: -5vw;

		figure {
			height: 100%;
			img {
				display: block;
				height: 100%;
				width: 100%;
				max-width: 10rem;
				object-fit: cover;
				object-position: 100% 0;
			}
		}

		.social-icons {
			display: inline-block;
			color: $color-gray-light;
			align-self: center;

			i {
				width: 24px;
				height: 24px;
				font-size: 16px;
				display: block;
				padding: 5px;
				margin-left: 16px;
			}
		}
	}
}

/* --- Block Footer --- */

.block-footer {
	height: 215px;
	width: 100%;
	position: relative;
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__bg {
		background-color: $color-gray;
		width: 100%;
		height: calc(100% + 50px);
		position: absolute;
		z-index: -20;
		bottom: 0;
	}

	.logo {
		background-color: $color-white;
		border: 1px solid $color-cuper;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 25px 0;
		text-transform: uppercase;
		font-family: "Avenir";
		text-align: center;

		&__container {
			padding: 3rem 2rem;
		}
		&__title {
			font-weight: 900;
			font-size: 27px;
		}
		&__slogan {
			font-size: 6px;
		}
	}

	.copyright {
		font-family: "Avenir", "Helvetica", "Arial", sans-serif;
		font-size: 10px;
		color: $color-white;
		text-align: center;
	}
}

// PRODUCTS Contact-Footer Block

.products .block-contact {
	margin-top: -3.25rem;

	&__content {
		padding-top: 6.5rem;
	}
}

/* --- Block Artisans --- */

.block-artisans {
	height: 100%;
	width: 100%;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	position: relative;
	display: flex;
	flex-direction: column;

	&__bg {
		height: 100%;
		width: 95%;
		position: absolute;
		right: 0;
		z-index: -10;
		background-color: $color-cuper;
	}

	&__content {
		width: 50%;
		min-width: 16.5rem;
		align-self: center;
		margin-right: -5%;
		margin-top: 4rem;

		&__ttl {
			@include highlight32;
			color: $color-white;
			margin-bottom: 3rem;
		}

		&__txt {
			@include paragraph13;
			color: $color-white;
			text-align: justify;
			& > p:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}

	&__img {
		width: 85vw;
		max-width: 45.74rem;
		height: 85vw;
		max-height: 25rem;
		margin-left: -5vw;
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 0% 50;
		}
	}
}

// Quality change
.products .block-artisans {
	&__bg {
		background-color: $color-gray;
	}
}

// Personalized change
.personalized .block-artisans {
	&__bg {
		background-color: $color-gray;
		border: $color-gray-light solid 1px;
	}

	&__content {
		display: flex;
		flex-direction: column-reverse;
		&__ttl {
			margin-bottom: 0;
			margin-top: 3rem;
			color: $color-white;
		}
		&__txt {
			color: $color-white;
		}
	}
}

/* --- Guilt Free --- */

.block-guiltfree {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

	&__bg {
		height: 100%;
		width: 95%;
		position: absolute;
		right: 0;
		z-index: -10;
		background-color: transparent;
	}

	&__content {
		align-self: center;
		margin: 4rem 10vw 0 10vw;

		&__ttl {
			@include highlight32;
			color: $color-cuper;
			margin-bottom: 3rem;
			text-align: right;
		}

		&__txt {
			@include paragraph15;
			color: $color-gray;
			text-align: justify;

			p {
				margin-bottom: 1rem;
			}
		}
	}

	&__img {
		align-self: flex-end;
		width: 80vw;
		max-width: 31.75rem;
		height: 80vw;
		max-height: 47rem;
		margin-left: -5vw;
		margin-top: 3.5rem;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 80% 0;
		}
	}
}

/* --- Block About --- */
.about .block-guiltfree {
	&__img {
		max-height: 30rem;
	}
	&__content {
		margin-top: 1rem;
	}
}

.products .block-guiltfree {
	&__content {
		&__txt {
			&:nth-child(-n + 3) {
				margin-bottom: 1rem;
			}
		}
	}
	&__img {
		img {
			object-position: 0;
		}
	}
}

.block-articles {
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;

	&__bg {
		height: 87%;
		width: 80%;
		background-color: $color-cream;
		position: absolute;
		z-index: -10;
	}

	&__content {
		margin: 150px 30px 50px 30px;
		position: relative;

		&__ttl {
			@include highlight32;
			color: $color-cuper;
			text-align: left;
			line-height: 40px;
		}
		&__btn {
			@include highlight20;
			color: $color-gray;
			float: left;
		}
	}
}

//Block Articles responsibility page
.responsibility {
	.block-articles {
		margin-top: -5rem;
		&__content {
			margin-left: 10%;
			margin-top: 100px;
		}
	}
}

//Block Porduct About page
.single {
	.block-articles {
		&__content {
			margin-top: 3.5rem;
		}
	}
}

/* --- Block Properties --- */
.block-properties {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: -4rem;

	&__bg {
		height: calc(100% - 15rem);
		width: 100%;
		position: absolute;
		right: 0;
		z-index: -10;
		background-color: $color-cream;
	}

	&__content {
		align-self: center;
		margin: 8rem 10vw 0 10vw;

		&__ttl {
			@include highlight32;
			color: $color-cuper;
			margin-bottom: 3rem;
			text-align: left;
		}

		&__txt {
			@include paragraph15;
			text-align: justify;
			p {
				margin-bottom: 1rem;
				padding-left: 1em;
				display: flex;

				&:last-child {
					margin-bottom: 0;
				}

				&::before {
					content: "• ";
					color: $color-cuper;
					font-weight: 900;
					display: block;
					font-size: 3em;
					line-height: 15px;
					margin-left: -10px;
					padding: 5px 10px 0 0;
				}
			}
			@include portrait {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	&__img {
		align-self: flex-start;
		width: 80vw;
		max-width: 39rem;
		height: 80vw;
		max-height: 23rem;
		margin-top: 3.5rem;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 0;
		}
	}
}

/* --- Block Catalog --- */

.block-catalog {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;

	&__bg {
		height: calc(100% - 3rem);
		width: 80%;
		background-color: $color-cream;
		position: absolute;
		z-index: -10;
	}

	// catalog-grid: catalog.scss
}

//Variant Blog
.blog {
	.block-catalog {
		margin-top: 0;

		&__bg {
			background-color: $color-gray;
			align-self: flex-start;
		}
	}
}

/* --- Block Categories --- */

.block-categories {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: inherit;
	margin-bottom: 2rem;

	&__img {
		width: 90%;
		max-width: 28rem;
		height: 32rem;
		position: relative;
		flex-shrink: 0;
		background-size: cover;
		align-self: center;

		&__change {
			z-index: 1;
			@include transition-ease;
			position: absolute;
			top: 0;
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			@include transition-ease;
		}
	}
	&__card {
		width: 75%;
		max-width: 30rem;
		display: inline-block;
		position: relative;
		margin-top: -7rem;
		margin-left: 10%;
		background-color: $color-white;
		border: $color-cuper solid 1px;
		z-index: 2;

		&__ttl {
			@include highlight32;
			color: $color-black;
			text-align: center;
			padding: 2rem 0 0 0;
			color: $color-cuper;
		}

		&__list {
			margin: 2rem 3rem;
			@include paragraph13;
			text-transform: uppercase;

			li {
				&:not(:last-child) {
					margin-bottom: 0.625rem;
				}
				a {
					&:hover {
						color: $color-gray-dark;
					}
				}
			}
		}
	}
}

/* --- Block  Items --- */

.block-item {
	margin-top: 1rem;
}

.card-item {
	width: 90%;
	max-width: 52rem;
	padding: 2rem 1.5rem;
	margin: 1rem auto 0;
	position: relative;
	border: $color-cuper solid 1px;
	background-color: $color-white;
	z-index: 10;

	&__content {
		&__ttl {
			@include highlight28;
			color: $color-cuper;
			margin-bottom: 1rem;
		}
		&__material {
			@include paragraph13;
			a:hover {
				color: $color-gray;
			}
		}
		&__txt {
			@include paragraph15;
		}
		&__subtitle {
			@include paragraph13;
			color: $color-gray;
			margin-top: 1.25rem;
			line-height: 1.75rem;
			text-transform: uppercase;
		}
		&__palete {
			&__color {
				display: inline-block;
				width: 1.5rem;
				height: 1.5rem;
				margin-right: 0.5rem;
				border: $color-gray solid 1px;
			}
		}
	}
	&__composition {
		&__part {
			@include paragraph13;
			font-weight: 500;
			line-height: 0.75rem;

			&:not(:first-child) {
				margin-top: 0.5rem;
			}
		}
	}
	&__sizes {
		&__list {
			.card-item__content__txt {
				display: inline-block;
				border: $color-gray-dark solid 1px;
				padding: 0.3rem;
				margin-right: 0.1rem;
				margin-bottom: 0.3rem;
			}
		}
		&__disclaimer {
			color: $color-gray-dark;
			font-size: 13px;
			font-weight: 300;
		}
		&__table {
			tr:not(:last-child) {
				border-bottom: $color-gray-light solid 1px;
			}
			tr:first-child td {
				@include light13;
				text-align: center;
			}
			tr td:not(:first-child) {
				text-align: center;
			}
			tr td:not(:last-child) {
				border-right: $color-gray-light solid 1px;
			}
			tr td {
				padding: 0.25rem;
			}
		}
	}
}

.block-single {
	width: 90%;
	max-width: calc(38rem + 10%);
	margin: auto;
	@include paragraph15;

	&__pic-author {
		width: 4.5rem;
		height: 4.5rem;
		display: inline-block;
		background-color: $color-white;
		margin-top: 2rem;
	}

	&__info {
		display: inline-block;
		line-height: 1.5rem;
		margin-left: 1rem;
		vertical-align: bottom;

		&__author {
			text-transform: uppercase;
		}
		&__category {
			color: $color-cuper;
		}
	}

	&__content {
		color: $color-gray;
		margin: 1rem 0;
		text-align: justify;
		padding: 5%;

		p {
			margin-bottom: 1rem;
		}
	}
}
