/* Object Sans */

@font-face {
     font-family: "Object Sans";
     src: local('ObjectSans-Regular');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Object Sans";
     src: local('ObjectSans-ThinSlanted');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
}